@import url('basic.css');

/* Frames to display (or not) */
#mainFrame {
    display: block;
}

#addItemFrame {
    display: none;
}


/* Items list */
ul.list {
    font-size: 1.6em;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.list li.item {
    width: 100%;
    min-height: 5rem;
    border-bottom: 1px solid #4D4E53;
}

ul.list li.item p {
    margin: 0;
    padding: 1.5rem 3rem;
    cursor: pointer;
}

ul.list li.item button.btnDelItem {
    background: url(images/delete.png) no-repeat center center;
    float: right;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    border: none;
}

/* The text area. */
.textEntry {
    height: 100%;
}
.textEntry textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
    height: 100%;
    width: 100%;
    padding: 0.5rem 2rem 0;
    margin: 0;
    border: none;
    font-family: "Open Sans",Sans-serif;
    font-size: 1.4rem;
}

header #addItem {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: none;
    margin: 1.4rem 0 0;
    width: auto;
    height: auto;
}

