@import url('basic.css');

/* Items list */
ul.list {
    font-size: 1.6em;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.list li.placeholder {
    display: none;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
}

ul.list li.placeholder p {
    margin-top: -1rem;
    text-align: center;
}

ul.list li.item {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #4D4E53;
}

ul.list li.item p {
    margin: 0;
    padding: 1.5rem 3rem;
    height: 1em;
    cursor: pointer;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.list li.item p.active {
    background-color: rgb(0, 138, 170);
}

ul.list li.item button {
    float: right;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    border: none;
}

.btnDelItem	{
    background: url(../img/delete.png) no-repeat center center;
}
.btnCheckItem {
    background: url(../img/checkbox.png) no-repeat center center;
    background-position: 0 0;
}
.btnCheckItem.checked {
    background-position: 0 -30px;
}


/* The text area. */
.textEntry {
    height: 100%;
}
.textEntry textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
    height: 100%;
    width: 100%;
    padding: 0.5rem 2rem 0;
    margin: 0;
    border: none;
    font-family: "Open Sans",Sans-serif;
    font-size: 1.4rem;
}

header #addItem {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: none;
    margin: 1.4rem 0 0;
    width: auto;
    height: auto;
}

header #delItem {
    background: url(../img/delete-white.png) no-repeat center center;
}

