@import url(animations.css);

html, body, button {
    font-size: x-small;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: #F3F3F4;
}

html {
    overflow-x: hidden;
}

div.frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F3F3F4;
    padding: 0;
    margin: 0;
}

/* Those forms are hidden at the start. */
div.frame[pos="right"] {
    transform: translateX(100%);
}

div.dialog {
    visibility: hidden;
    opacity: 0;
    transition: visibility 100ms ease-in, opacity 100ms ease-in;
}

#msgDialog {
    background-color: rgba(0,0,0,0.8);
    z-index: 20;
    text-align: center;
    font-size: 1.5rem;
}

body.showRight div.frame[pos="right"] {
    z-index: 10;
    animation: rightToCurrent 0.4s forwards;
}

body.showRight div.frame[pos="main"] {
    animation: currentToLeft 0.4s forwards;
}

body.hideRight div.frame[pos="right"] {
    animation: currentToRight 0.4s forwards;
}

body.hideRight div.frame[pos="main"] {
    animation: leftToCurrent 0.4s forwards;
}

div.dialog.show {
    visibility: visible;
    opacity: 1;
}

div.dialog div.message {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    color: #fff;
}

div.dialog .buttons {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem 0;
}

div.dialog .buttons button {
    font-size: 1.3rem;
    height: 3rem;
    width: 90%;
    min-width: 5rem;
    max-width: 50rem;
    background-image: linear-gradient(#fafafa, #cccccc);
    border: 1px solid #a6a6a6;
    border-radius: 0.2rem;
    font-weight: 500;
}

div.dialog .buttons button.half {
    width: 45%;
}

div.dialog .buttons button.half:first-child {
    margin-right: 1rem;
}

div.dialog .buttons button:active {
    background-image: none;
    background-color: rgb(0, 138, 170);
    border-color: rgb(0, 138, 170);
}

header {
    background-color: rgb(230, 96, 0);
    background-repeat: repeat-x;
    background-image: linear-gradient(rgb(255, 149, 0), rgb(230, 96, 0));
    color: #ffffff;
    height: 4.9rem;
    position: relative;
    z-index: 2;
}

header button {
    cursor: pointer;
}

header button.main {
    background: rgb(200, 80, 0) no-repeat center center;
    position: absolute;
    left: 0;
    width: 2rem;
    border: none;
    height: 100%;
    margin: 0;
}

header button.main:active {
    background-color: #0095DD;
}

header button.back {
    background-image: url(../img/back.png);
}

header button.close {
    background-image: url(../img/close.png);
}

header .actions button {
    width: 3rem;
    border: none;
    height: 100%;
    margin: 0;
}

header .actions button.text, header #btnInstall {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    border: none;
    margin: 1.4rem 0 0;
    width: auto;
    height: auto;
}

header #btnAdd {
    background: url(../img/add.png) no-repeat center center;
}

header h1 {
    display: block;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 4.9rem;
    height: 100%;
    margin: 0 0 0 2rem;
    padding: 0 0 0 1rem;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header ul {
    margin: 0px;
    padding: 0px;
    float: right;
    height: 100%;
}

header li {
    float: left;
    list-style: none;
    background: url("../img/separator.png") no-repeat left center / auto 3.4rem;
    min-width: 3.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    text-align: center;
    width: auto;
    height: 100%;
}

header li:active {
    background-color: #0095DD;
}

.body {
    top: 4.9rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #F3F3F4;
}

#glasspane {
    background: #FF0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: 3;
    visibility: hidden;
    -moz-transition:opacity 0.1s linear;
    -webkit-transition:opacity 0.1s linear;
}

#glasspane #title{
    margin: 1.5rem 2rem 1rem 2rem;
    border-bottom: 1px solid #000;
    padding: 0rem 1rem 1rem 1rem;
    font-family: "Open Sans",Sans-serif;
    font-size: 2rem;
}

#glasspane #msg{
    margin: 0rem 2rem 5rem 2rem;
    padding: 0rem 1rem 1rem 1rem;
    font-size: 1.8rem;
}

footer {
    background:#6a7b86;
    background:linear-gradient(#6a7b86 0%,#424f5a 100%);
    color: #fff;
    position: absolute;
    width:100%;
    height:5rem;
    bottom:0;
}

footer ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:100%;
}

footer li {
    /* background: url("../img/separator.png") no-repeat scroll left top; */
    float: left;
    border-right: 1px solid #445;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    text-align: center;
}

footer li button {
    display: inline-block;
    background: transparent;
    border: none;
    height: 100%;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

footer li.activated {
    background:#b4beca;
    background:linear-gradient(#b4beca 0%,#e1e5eB 100%);
/* color: #999; */
}

footer li:active {
    background:#e66000;
}

footer li:last-child {
    border:none;
}

